.formulario-agregar.usuarios {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    margin-top: 30px;
}

.usuarios .campo {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campo input {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

.btn-enviar {
    background-color: var(--verde-claro) !important;
    font-weight: 600;
    color: var(--textColor);
    margin: 0 !important;
}

.placeholder-text {
    text-align: center;
    font-size: 16px;
    color: #999;
}

.campo-switch {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--rojo);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 28px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

#isSuperuser:checked+.slider {
    background-color: var(--verde-oscuro);
}

#isSuperuser:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

#isSuperuser:checked+.slider:before {
    transform: translateX(42px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.password-input {
    position: relative;
}

#password {
    width: 100%;
}

#confirmPassword {
    width: 100%;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    cursor: pointer;
}